.homeWrapper {
    background: linear-gradient(rgba(0.7, 0.7, 0.7, 0.7), rgba(0.7, 0.7, 0.7, 0.7)), url("/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.introduction {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introText {
    width: 750px;
    position: relative;
}

.introduction div{
    margin-top: 40px;
}


.introduction div p{
    margin-top: 7px;
    text-align: center;
}

.skullbotsLogo {
    margin-top: 30px;
    width: 280px;
}

.decoration {
    margin-top: 40px;
}

.skip {
    margin-top: 50px;
    text-align: center;
    color: var(--red);
    font-size: 1.8rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #1E0202
}

.introFog{
    position: absolute;
    width: 100%;
    opacity: .7;
    top: 0;
    height: 485px;
}

.sectionOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    width: fit-content;
    margin-top: 250px;
    margin-left: 100px;
}

.textTwo {
    margin-left: -40px;
}
.rightHand {
    display: flex;
    background: black;
    padding-left: 50px;
}

.rightHand img {
    width: 400px;
}

.sectionThree {
    width: 1024px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.sectionThree p{
    text-align: center;
}

.textTwo {
    width: 450px;
}

.textThree {
    width: 330px;
    margin: 10px 0px;
}


.fog2, .bg2{
    position: absolute;
    width: 100%;
    z-index: 0;
}

.bg2{
    margin-top: 200px;
}

.bottomPart {
    position: relative;
    z-index: 1;
    width: 1240px;
    margin: 0 auto;
    margin-top: 80px;
}

.addWrapper {
    width: fit-content;
    margin: 0 auto;

}

.textFour{
    width: 520px;
}

.topPart{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "f e c l";
}

.topPart div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bottomGrid {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 2.1rem;
}

.finality {
    grid-area: f;
}

.epoch {
    grid-area: e;
}

.cluster {
    grid-area: c;
}

.lamport {
    grid-area: l;
}

.epoch .name{
    color: #3E0559;
}

.cluster .name{
    color: #005E59;
}

.lamport .name{
    color: #05590C;
}

.topPart div div img{
    width: 240px;
    margin: 10px 0px 20px 0px;
}

.epoch div img {
    margin-left: 50px !important;
    width: 230px !important;
    margin-top: 15px !important;
}

.cluster div img {
    margin-left: 50px !important;
}

.lamport div img {
    width: 250px !important;
    position: relative;
    top: 30px;
}

.topPart div .percentage {
    font-size: 3.7rem;
}

.cost {
    margin-top: 10px;
    font-size: 1.7rem;
}

.consume {
    background: black;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px 0px;
    cursor: pointer;
    border: 2.1px dashed #D31313;
}

.footer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 250px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -27px;
}

.footerLogo {
    display: flex;
    align-items: center;
}

.footerLogo img:nth-child(2) {
    margin-left: 25px;
}

.footerLinks {
    display: flex;
    align-items: center;
}
.footerLinks p{
    margin: 0 20px;
    cursor: pointer;
}

.footerGrid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 100px;
    justify-items: end;
}

.footerInfo {
    width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
}

.bg3{
    position: absolute;
    width: 100%;
    margin-top: 500px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1250px){

    .bottomPart, .footer {
        width: 100%;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sectionOne {
        margin-left: 40px;
    }

    .topPart {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 70px;
        width: fit-content;
    margin: 0 auto;
        grid-template-areas: 
        "f e"
        "c l"
        ;
    }

    .topPart div {
        width: 300px;
    }

    .consume {
        width: 600px;
    }


}

@media only screen and (max-width: 1180px){
    .footerTop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footerLinks {
        margin-left: 10px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1140px){
    .partTwo {
        display: none;
    }

    .sectionOne {
        width: 100%;
        padding: 0 20px;
        display: block;
        margin-left: 0px;
    }

    .rightHand{
        display: none;
    }
    
    .sectionThree {
        width: 100%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 800px) {
    .introText {
        width: 600px;
    }
    .sectionOne {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        width: fit-content;
        margin-top: 250px;
        margin-left: 0;
        padding: 0 20px;
        justify-items: center;
    }

    .footer {
        margin-top: 100px;
    }
    

    .partOne {
        display: none;
    }

    .footerGrid{
        padding-bottom: 50px;
    }

    .footerLogo img:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .topPart {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 70px;
        width: fit-content;
        margin: 0 auto;
        grid-template-areas: 
        "f"
        "e"
        "c"
        "l"
        ;
    }

    .topPart div {
        width: 300px;
    }

    .consume {
        width: 300px;
    }

    .introText{
        width: 500px;
    }


    .skullbotsLogo {
        width: 200px;
    }

    .decoration {
        width: 90px;
    }

    .sectionOne {
        margin-top: 150px;
    }

    .textTwo {
        width: 400px;
        margin-left: -25px;
    }

    .sectionThree {
        margin-top: 100px;
    }

    .textThree {
        width: 280px;
    }

    .textFour {
        width: 410px;
    }

}

@media only screen and (max-width: 510px) {

    .introText{
        width: 100%;
    }


    .textTwo {
        width: 100%;
        margin-left: -25px;
    }

    .sectionThree {
        margin-top: 70px;
    }

    .textThree {
        width: 70%;
    }

    .textFour {
        width: 400px;
    }

}

@media only screen and (max-width: 420px){
    .textFour{
        width: 330px;
    }

    .footerInfo img {
        width: 100%;
    }

    .footerInfo{
        margin-top: 0px;
    }
}